@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Sansita:wght@400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2C8780;
  --dark: #1D1D2C;
  --light: #B2CAC9;
  --background: #E8F2F5;
  --highlight: #72F1DC;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--background);
  color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sansita', sans-serif;
}

.nav-link {
  position: relative;
  color: var(--dark) !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.burger-icon {
  font-size: 24px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.side-menu {
  position: absolute;
  right: 0;
  top: 60px;
  width: 200px;
  background-color: #2C8780;
  padding: 20px 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.hero-section {
  background-size: cover;
  background-position: center;
  position: relative;
}

/* -------------------------- Hero section styles */

.hero-img {
  width: 200px;
  height: auto;
}

/* -------------------------- Project Cards in Projects page */
.project-card {
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

/* ---------------------- Slides in home page */

.w-full {
  width: 100%;
}

.hidden {
  display: block;
}

/* -------------------------- Icon Footer */

.social-icon {
  color: var(--dark);
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: var(--background);
}

/* --------------------------Contact Form */

.contact-form input,
.contact-form textarea {
  border: 2px solid var(--light);
  transition: border-color 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--primary);
  box-shadow: none;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--highlight);
  border-color: var(--highlight);
  color: var(--dark);
}

.custom-padding {
  padding-top: 8rem;
  padding-bottom: 6.7rem;
}

/* ------------------Hide the scroll bar featured projects section */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

/* ---------------About me section */
/* ----------"See More" text */
.see-more-text {
  color: var(--primary);
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}

.see-more-text:hover {
  color: var(--dark);
}

/* ---------------------ThreeScene style */

.three-scene-container {
  position: absolute;
  top: 2175px;
  left: -50px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.three-scene-collab {
  top: 70px;
  left: 0;
  position: absolute;
  height: 715px;
  width: 1350px;
}

/* ----------Button Style */
.see-more-btn {
  background-color: #5C6BC0;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #5C6BC0;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.see-more-btn:hover {
  background-color: #3f51b5;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* Fun Bounce Effect */
.see-more-btn {
  --width: 120px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 0.6em;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  background: var(--primary);
  transition: all 0.2s;
  border-radius: 3px;
  cursor: pointer;
}

.see-more-btn:hover {
  background-image: linear-gradient(
  to right,
    rgb(44, 135, 128),
    rgb(44, 135, 128) 16.65%,
    rgb(29, 29, 44) 16.65%,
    rgb(29, 29, 44) 33.3%,
    rgb(178, 202, 201) 33.3%,
    rgb(178, 202, 201) 49.95%,
    rgb(232, 242, 245) 49.95%,
    rgb(232, 242, 245) 66.6%,
    rgb(131, 241, 220) 66.6%,
    rgb(131, 241, 220) 83.25%,
    rgba(5, 250, 78, 0.822) 83.25%,
    rgb(5, 250, 78, 0.822) 100%,
    rgb(44, 135, 128) 100%    
  );
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
  color: var(--dark);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}

/* -----------------About Me styles */

.aboutme-img{
  width: 500px;
  height: 418px;
  border-radius: 8px;
}

/* -----------------Mobile size */
@media (max-width: 768px) {
  .about-me {
    padding: 20px;
  }

  .about-me h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  /* .about-me p {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1rem;
  } */

  .about-me img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
  }

  .about-me-text {
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .about-me-text p {
    font-size: 3rem;
  }

  .about-me-text h2 {
    font-size: 4rem;
  }

  .see-more-text {
    font-size: 1rem;
  }
  .three-scene-container {
    top: 2660px;
    left: 0;
    height: 650px;
    width: 380px;
  }

  .three-scene-collab {
    top: 70px;
    left: 0;
    height: 743px;
    width: 380px;
  }

  .nav-link:hover::after {
    width: 60%;
  }

  .aboutme-img{
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-left: 0;
  }
  
  .hero-img {
    width: 115px;
  }
}